body {
    font-family: "Didact Gothic Regular", sans-serif;
    margin: 0;
}

.header  {
    display: block;
    position: sticky;
    background: #be1e2d;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    height: 40.5px;
    border-top: 4.444px solid #be1e2d;
}

.logobuttonbox {
    display: flex ;
    justify-content:space-between ;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height 40.5px;
    width: 930px ;
}

.logobox{
    display: flex
    align-self:flex-start;
    height: 30.260px;
    width: 222.639;
    padding-top: 5.120px;
    padding-bottom: 5.120px;
    vertical-align: center;
}

.logo {
    align-self: flex-start;
    vertical-align: middle;
    height: 29px;
    width: 222.639px;
}

.navbutton{
    align-self: flex-end;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    height: 27px;
    width: 27px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0.8px solid  rgba(255,242,0);
}

.navb {
    border-color: rgba(255,242,0);
    align-self: flex-end;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    height: 27px;
    width: 27px;
    background: no-repeat 50%
}

.mainblock {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.categoriesconatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.titlebox {
    color: #61413e;
    border-color: #61413e;
    border: thick solid;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-stretch: 100%;
    font-style: normal;
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.categorybox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    border: 0.8px solid;
    border-color: #61413e;
    width: 100%;
}

.catergoryname {
    height: 45.175px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #ffffff;
    background-color: #61413e;
    font-family: "Didact Gothic Regular", sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 37.18px;
}

.categorydescription {
    margin-bottom: 25px;
    height: 28.8px;
    text-align: center;
    color: #61413e;
    vertical-align: text-top;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
}

.productrow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 18px;
}

.productnameprice {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 17px;
}

.productname {
    font-size: 15px;
    line-height: 17px;
    color: #61413e;
    text-transform: capitalize;
    align-self: flex-start;
}

.productprice {
    font-size: 15px;
    line-height: 17px;
    color: #61413e;
    align-self: flex-end;
}

.productdescription {
    height: 19px;
    font-size: 13px;
    margin-top: 7px;
    line-height: 19px;
    color: #6c7880;
}
/*
.product {
    width: 668.4px;
    height: 43px;
    margin-bottom: 18px;
}

.productnameprice{
    width: 668.400px;
}


.productname {
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 15px;
    line-height: 17px;
    font-weight:600;
    color: #61413e;
}

.productprice {
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 15px;
    line-height: 17px;
    font-weight:600;
    color: #61413e;
}

.productdescription {
    font-size: 13px;
    margin-top: 0px;
    line-height: 19px;
    color: #6c7880;
    width: 668.400px;
    height: 19px;
}
.espressobox {
    width: 668.400px;
    height: 940.975px;

    margin-left: auto;
    margin-right: auto;
}

.espressotitle {
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    background-color: #61413e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-stretch: 100%;
    font-style: normal;
    line-height: 37.18px;
    text-rendering: optimizelegibility;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45.175;
    height: 628.4;
    text-align: center;
}

.espressodescription {
    font-size: 24px;
    margin-bottom: 25px;
    color: #61413e;
    font-size: ;
    font-weight: bold;
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 0px;
    height: 28.8px;
    width: 668.4px;
}

.espressoproducts {
    height : 690px;
    width: 668.4px;
}

.hotspecialsproducts {
    height : 690px;
    width: 668.4px;
}

.hotspecialstitle {
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    background-color: #61413e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-stretch: 100%;
    font-style: normal;
    line-height: 37.18px;
    text-rendering: optimizelegibility;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45.175;
    height: 628.4;
    text-align: center;
}

.hotspecialsbox {
    margin-top: 40px;
    width: 668.400px;
    height: 850.975px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.800px;
    border-color: #61413e;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.frenchpressproducts {
    height : 690px;
    width: 668.4px;
}

.frenchpresstitle {
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    background-color: #61413e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-stretch: 100%;
    font-style: normal;
    line-height: 37.18px;
    text-rendering: optimizelegibility;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45.175;
    height: 628.4;
    text-align: center;
}

.frenchpresssbox {
    margin-top: 40px;
    width: 668.400px;
    height: 320.975px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.800px;
    border-color: #61413e;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.rakwehdescription {
    font-size: 24px;
    margin-bottom: 25px;
    color: #61413e;
    font-size: ;
    font-weight: bold;
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 0px;
    height: 28.8px;
    width: 668.4px;
}

.rakwehproducts {
    height : 690px;
    width: 668.4px;
}

.rakwehtitle {
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    background-color: #61413e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-stretch: 100%;
    font-style: normal;
    line-height: 37.18px;
    text-rendering: optimizelegibility;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45.175;
    height: 628.4;
    text-align: center;
}

.rakwehbox {
    margin-top: 40px;
    width: 668.400px;
    height: 590.975px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.800px;
    border-color: #61413e;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.v60products {
    height : 690px;
    width: 668.4px;
}

.v60title {
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    background-color: #61413e;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-stretch: 100%;
    font-style: normal;
    line-height: 37.18px;
    text-rendering: optimizelegibility;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45.175;
    height: 628.4;
    text-align: center;
}

.v60box {
    margin-top: 40px;
    width: 668.400px;
    height: 330.975px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.800px;
    border-color: #61413e;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
